<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "co.com.tcs.xm"
        versionCode="10"
        version   = "1.1.0">

    <!-- versionCode is optional and Android only -->

    <name>Prototipo XM</name>

    <description>
       Fronteras XM
    </description>

    <author href="http://www.tcs.com" email="frankolopez@gmail.com">
        Francisco Lopez
    </author>
	
	 <icon src="icon.png" />
	 
	 <!--
		Define access to external domains.

		<access />            - a blank access tag denies access to all external resources.
		<access origin="*" /> - a wildcard access tag allows access to all external resource.

		Otherwise, you can specify specific domains:
	  -->
	  <access origin="http://127.0.0.1*" /><!-- allow local pages -->
	  <access origin="https://baas.kinvey.com*" />
	  <access origin="https://da189i1jfloii.cloudfront.net*" />
	  <access origin="https://storage.googleapis.com*" />

</widget>
