<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "co.com.tcs.xm"
        versionCode="10"
        version   = "1.1.0">

    <!-- versionCode is optional and Android only -->

    <name>Prototipo XM</name>

    <description>
       Fronteras XM
    </description>

    <author href="http://coenraets.org" email="frankolopez@gmail.com">
        Francisco Lopez
    </author>

</widget>
